/** 常用色值 **/
/** 常用字体大小 **/
ul {
  list-style-type: none;
}
.container .nav-left {
  background-color: #001529;
  color: #ffffff;
  height: calc(100vh);
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
  overflow: auto;
}
.container .content {
  position: relative;
  padding: 20px;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}
